.form-control {
	display:inline;
}

html, body {
	height:100%;
}

.top-padding-fix {
  padding-top: 35px;
}

body .col-md-3,.col-md-9,.row{
	/*Just for developing*/
	/*border: solid 1px;*/
	margin-top: 2em;
}

.small-border{
	width:300px;
	height:1px;
	/*align:center;*/
		/*padding:5px;*/
	border-bottom:2px solid #ddd; 
	/*-webkit-border-radius: 5px;*/
	/*border-radius: 5px;	*/
}
.location-page-address{
	padding:5px;
	border-top:2px solid #ddd; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	/*float:left;*/
	/*text-align: left;*/

}

.row-fix{
	margin-right: 0px;
}

.front-page-post {
	padding:5px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

.main-bar{
	padding:5px;
	border-right:2px solid #ddd; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
.title{
	/*padding-left:%;*/
}

.sidebar{
	
}
.main {
  padding: 40px 15px;
  text-align: center;
	padding:5px;
	border-left:2px solid #ddd; 
	border-right:2px solid #ddd; 
	border-bottom:2px solid #ddd; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
.nav-mola{
	padding-top: 10px;
	padding-right: 10px;
}
.posts>h2{
	text-align: left
}
.review{
	/*border: solid 1px;*/
	padding:5px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
.footer{
		padding:5px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	/*margin-right: -30px;*/
}
.location{
	/*border: solid 1px;*/
	border-color: #000;
}

.sidebar{
	padding-top: 20px;
}

.sidebar p{
	padding-top: 15px;
}

.location_form label{
	float:left;
	margin-left: 1em;
}

.form_padding{
	padding-left: 1em;
	padding-right: 1em;
}
.location_form input[type=text]{
/*	margin-left: 0.25em;
	margin-right: 1em;*/
}

.location_form input[type=submit]{
	margin: 1em 0em;
	float:left;
}
/*		padding:5px 15px;
	background:#b7b7b7;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	color:#fff;*/
/*	margin-left: 0.25em;
	margin-right: 1em;*/
/*}*/
/*
.mola-nav {
	background-image: linear-gradient(to bottom,#2ECC71 0,#00b16a 100%);
	background-color: #2ECC71;

}

/*
.location_form {
	float:left;

	text-align: left;
	padding: 0.5em 1em;
}

.location_form input{
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.location_form input, label{
	display:block;
}

.location_form input[type=text]{
	width: 27em;
}

.location_form input[type=text], textarea, select {
	padding:5px;
	border:2px solid #ddd; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.location_form select{
    height:34px;
    font-size:14px;
}


.location_form textarea{
	padding:5px;
	border:2px solid #ccc; 	
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.location_form textarea:focus,input[type=text]:focus {
	border-radius: 5px;	
	border-color:#333; 
}

.location_form input[type=submit] {
	padding:5px 15px;
	background:#b7b7b7;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	color:#fff;

}
*/
.ratings {
	padding-top: 40px;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

/*
.review {
    border: 1px solid black;
}*/
.panel-heading {
    padding-bottom: 25px;
}
.panel-heading .user-name  {
    float: left;
}

.panel-heading .review-date, .page-link {
    float:right;
}

.user-reviews {
    float: right;
}

.text-review {
    text-align: left;
}

.form-error {
    border: 1px solid red;
}

#error-text {
    color: red;
    display: none;
}