
/*** GENERAL CSS ***/

html, body {
	height:100%;
}

body {
	padding-top: 3em;
}

.small-border{
	min-width:80%;
	height:1px;
	border-bottom:2px solid #ddd; 
}
.location-page-address{
	border-top:2px solid #ddd; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

.front-page-post {
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

.main-bar{
	border-right:2px solid #ddd; 
}

@media only screen and (max-width: 991px) 
{
	.main-bar{
		border-right: none; 
	}
}

.title{
	margin-top: auto;
}

#mola-tabs{
	margin-top: 1.25em;
}

.main {
	text-align: center;
	border-left:2px solid #ddd; 
	border-right:2px solid #ddd; 
	border-bottom:2px solid #ddd; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
.nav-mola{
}
.posts>h2{
	text-align: left
}
.review{
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
.footer{
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
.location{
	border-color: #000;
}

.sidebar{
}

.sidebar p{
}

.location_form label{
	float:left;
}

.location_form input[type=text]{
}

.location_form input[type=submit]{
	float:left;
}

.contact_form label{
	float:left;
}

.contact_form input[type=text]{
}

.contact_form input[type=submit]{
	float:left;
}

.secondary-nav {
		list-style: none;
		float: right;
}

.secondary-nav li {
		display: inline-block;
}

.secondary-nav .greeting {
		font-size: 18px;
		color: white;
}

.panel-heading {
}

.panel-heading .user-name  {
		float: left;
}

.panel-heading .review-date, .page-link {
		float:right;
}

.user-reviews {
		float: right;
}

.text-review {
		text-align: left;
}

.form-error {
		border: 1px solid red;
}

#error-text {
		color: red;
		display: none;
}

.review-section {
		cursor: default;
}

/*** FRONT PAGE POSTS ***/

.front-page-post p, .review p{
		max-height: 20em;
		word-break: break-all;
		overflow-y: auto;
}

/*** REVIEW SECTION ***/

.mola-panel {
	background-color:#f4f4f4;
}

.pac-container {
	z-index: 5132312;
}

/* Gets a location's star ratings to center on screens larger than mobile. */
.loc-rating-label {
  text-align: right;
}
.loc-rating-stars {
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .loc-rating-label, .loc-rating-stars  {
    text-align: center;
  }
}

/*** TAGS SECTION ***/

.tag, .tag-static {
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
}

.tag-text, .tag-text-static{
	margin:0.25em;
}
.tag-buttons, .tag-buttons-static {
		display:inline-block;
}
.tag-btn, .tag-btn-static {
		background-color: #eee;
		padding: 5px;
		border:1px solid #ddd;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color: #888;
		margin:0.15em
}

.tag-btn:hover {
		text-decoration: none;
		/* no underline */
}

.tag-btn-static:hover {
	text-decoration: none;
		color: inherit;
		/* no underline */
}

.tag-pos:hover, .tag-pos-selected:hover {
		color: #fff;
		background-color:#00B16A;
}

.tag-pos-checked, .tag-pos-selected  {
		color: #fff;
		background-color:#00B16A;
}

.tag-neg:hover, .tag-neg-selected:hover {
		color: #fff;
		background-color:#EF4836
}

.tag-neg-checked, .tag-neg-selected {
		color: #fff;
		background-color:#EF4836
}

.tag-cancel:hover {
		color: #fff;
		background-color:#666;
}

.tag-cancel-checked {
		color: #fff;
		background-color:#666;
}

/*** MAPS ***/

#map-canvas, #location-info {
	min-height: 30em;
}
@media only screen and (max-width : 991px) {
	#map-canvas, #location-info {
    min-height: 24em;
  }
}

@media only screen and (min-width : 767px) {
	#front-page-maps-tab #map-canvas  {
		min-height: 45em;
		margin-bottom: 1em;
	}
}

/*** NAVBAR ***/

.navbar-default {
	background-color: #319245;
	border-color: #45b45c;
}
.navbar-default .navbar-brand {
	color: #e3e3e3;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #e3e3e3;
}
.navbar-default .navbar-nav > li > a {
	color: #e3e3e3;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #45b45c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #45b45c;
}
.navbar-default .navbar-toggle {
	border-color: #45b45c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #45b45c;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #e3e3e3;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #e3e3e3;
}
.navbar-default .navbar-link {
	color: #e3e3e3;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media only screen and (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #e3e3e3;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #45b45c;
	}
  #search-button{
    margin-top: 8px;
    display: inline-block;
    float: right;
  }
  #navbar-user-part{
    padding-left: 15px;
    padding-right: 15px;
    float: right;
  }
  #login-logout-button{
    display: inline-block;
    float: right;
  }
  
  .navbar-link{
	color: #FFFFFF !important; 
	text-decoration: underline;
  }
}
/* Adds ellipsis truncation to the user email at different levels. */
.navbar-text {
  display: inline-block;
  text-align: right;
  margin-right: 15px;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 1199px) {
  .navbar-text {
    width: 300px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-text {
    width: 240px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-text {
    width: default;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }
}

/*Autocomplete SECTION*/
@media only screen and (min-width : 992px) {
	#autocomplete{
		min-width: 25em;
	}  
}

