.form-control {
	display:inline;
}

html, body {
	height:100%;
}

.top-padding-fix {
  padding-top: 35px;
}

body .col-md-3,.col-md-9,.row{
	margin-top: 2em;
}

.small-border{
	width:300px;
	height:1px;
	border-bottom:2px solid #ddd; 
}
.location-page-address{
	padding:5px;
	border-top:2px solid #ddd; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

.row-fix{
	margin-right: 0px;
}

.front-page-post {
	padding:5px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

.main-bar{
	padding:5px;
	border-right:2px solid #ddd; 
}
.title{
}

.main {
  padding: 40px 15px;
  text-align: center;
	padding:5px;
	border-left:2px solid #ddd; 
	border-right:2px solid #ddd; 
	border-bottom:2px solid #ddd; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
.nav-mola{
	padding-top: 10px;
	padding-right: 10px;
}
.posts>h2{
	text-align: left
}
.review{
	/*border: solid 1px;*/
	padding:5px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
.footer{
		padding:5px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	/*margin-right: -30px;*/
}
.location{
	/*border: solid 1px;*/
	border-color: #000;
}

.sidebar{
	/*padding-top: 20px;*/
	padding-left: 0.3em;
}

.sidebar p{
	padding-top: 15px;
}

.location_form label{
	float:left;
	margin-left: 1em;
}

.location_form input[type=text]{
/*	margin-left: 0.25em;
	margin-right: 1em;*/
}

.location_form input[type=submit]{
	margin: 1em 0em;
	float:left;
}

.contact_form label{
	float:left;
	margin-left: 1em;
}

.contact_form input[type=text]{
/*	margin-left: 0.25em;
	margin-right: 1em;*/
}

.contact_form input[type=submit]{
	margin: 1em 0em;
	float:left;
}

.form_padding{
	padding-left: 1em;
	padding-right: 1em;
}

.secondary-nav {
    list-style: none;
    float: right;
    margin-bottom: 0px;
}

.secondary-nav li {
    display: inline-block;
}

.secondary-nav .greeting {
    font-size: 18px;
    color: white;
}

.pac-container {
    z-index: 5000;
}

.ratings {
	padding-top: 40px;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -8px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

.panel-heading {
    padding-bottom: 25px;
}
.panel-heading .user-name  {
    float: left;
}

.panel-heading .review-date, .page-link {
    float:right;
}

.user-reviews {
    float: right;
}

.text-review {
    text-align: left;
}

.form-error {
    border: 1px solid red;
}

#error-text {
    color: red;
    display: none;
}

@media (max-width: 978px) {
		.main-bar{
			border-right: 0px;
		}
		.sidebar{
			padding-left: 15px;
		}
}

.review-section {
    cursor: default;
}

/* Front page posts */
/*.front-page-post p {
    max-height: 20em;
    word-break: break-all;
    overflow-y: scroll;
}
*/

/*TAGS SECTION*/

.tag, .tag-static {
    display: inline-block;
    margin: 0.5em;
    padding: 0.75em;
}

.tag-text, .tag-text-static{
	margin:0.25em;
}
.tag-buttons, .tag-buttons-static {
    display:inline-block;
}
.tag-btn, .tag-btn-static {
    background-color: #eee;
    padding: 5px;
    border:1px solid #ddd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #888;
    margin:0.15em
}

.tag-btn:hover {
    text-decoration: none;
    /* no underline */
}

.tag-btn-static:hover {
	text-decoration: none;
    color: inherit;
    /* no underline */
}

.tag-pos:hover, .tag-pos-selected:hover {
    color: #fff;
    background-color:#00B16A;
}

.tag-pos-checked, .tag-pos-selected  {
    color: #fff;
    background-color:#00B16A;
}

.tag-neg:hover, .tag-neg-selected:hover {
    color: #fff;
    background-color:#EF4836
}

.tag-neg-checked, .tag-neg-selected {
    color: #fff;
    background-color:#EF4836
}

.tag-cancel:hover {
    color: #fff;
    background-color:#666;
}

.tag-cancel-checked {
    color: #fff;
    background-color:#666;
}