<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mola{{title}}</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		
		<!-- Local Copy -->
		<!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"> -->

			<!-- Optional theme -->
		<link rel="stylesheet" type="text/css" href="/static/lavish-bootstrap.css">
		
		<!-- Local Copy -->
		<link rel="stylesheet" type="text/css" href="/static/main.css">

		<!-- RateIt CSS -->
		<link rel="stylesheet" type="text/css" href="/static/rateit.css">


	</head>
	<body onLoad="initialize();setup()">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">	
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Mola</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<form  action="/loc_checker" method="post" class="navbar-nav nav navbar-form navbar-left" id="search_form" role="search">
				   	<div class="form-group">
				    	<input id="autocomplete" class ="form-control" 	onFocus="geolocate()" name="search-query" type="text" placeholder="Search Places...">
						<input id="placeName" name="PlaceName" type="hidden">
						<input id="placeID" name="PlaceID" type="hidden">
				   </div>
				   <input type="submit" class="btn btn-primary" id="search-button" value="Search Mola"></input>
			    </form>    
			    <ul class="navbar-nav nav navbar-right" id="navbar-user-part">
			    {% if not login_needed %}
			    	<li>
						<p class="navbar-text">Welcome, <a class="navbar-link" href="/history">{{user}}</a> <span class="glyphicon glyphicon-heart"></span></p>
					</li>
		        {% endif %}
					<li>
						<p class="navbar-btn">
							<a href="{{login}}" class="btn btn-primary" id="login-logout-button">{% if login_needed %}Login{% else %}Logout{% endif %}</a>
						</p>
					</li>
			   </ul>
			</div>
			</div>
		</nav>
		<div class="container main">
			<!-- Content starts here -->
			{% block content %}
			{% endblock content %}
			<!-- Content ends here -->
		</div>
		<div class="container"> 
			<div class="row footer" style="text-align:center;">
					<p><strong>Mola</strong> by Joseph Hagner, Leart Doko and John Lee. <a href="/contact">Contact Us</a></p>
			</div>
		</div>

		<!-- /.container -->	    
		
				<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

		<!-- Local Copy -->
		<!-- // <script src="../jquery/1.11.2/jquery.min.js"></script> -->
		<!-- // <script src="../bootstrap/js/bootstrap.min.js"></script> -->

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
		
		<!-- Script for RateIt -->
		<script src="/static/scripts/jquery.rateit.min.js" type="text/javascript"></script>
		
		<!-- Script for form error handling -->
		<script src="/static/scripts/formError.js" type="text/javascript"></script>

		<!-- Script for Google Maps API -->
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAAlSl0SOVllzOgIEJ93KmC4BUbFRiejLs"></script>
	    <!-- AIzaSyAAlSl0SOVllzOgIEJ93KmC4BUbFRiejLs = Google Places Client Key-->
		
		<!-- Script for Autocomplete -->
	    <script src="/static/scripts/autocomplete.js" type="text/javascript"></script>
		
	    <!-- Script for "More Reviews" -->
	    <script src="/static/scripts/moreReviews.js" type="text/javascript"></script>
		
		<!-- Script for tagging system -->
	    <script src="/static/scripts/tagging.js" type="text/javascript"></script>
		
		<!-- Script for map loading -->
	    <script src="/static/scripts/maps.js" type="text/javascript"></script>
		
		<!-- Script for secret stuff -->
	    <script src="/static/scripts/konami.js" type="text/javascript"></script>
		
		<!-- Editing Forms  -->
	    <script src="/static/scripts/reviewForm.js" type="text/javascript"></script>
		
	</body>
</html>

