{% extends "base_template.html" %}
{% block content %}

	<!-- Begin Location Info Section -->
	<div class="row">
		<div class="col-md-8 col-xs-12" id="location-info">
			<div class="top-padding-fix">
				<h1>{{ location.name }}</h1>
				<label for="address">Address:</label>
				<div id="address" class>
					{% if location.address %}{{ location.address }} <br />{% endif %}
					{% if location.city %}{{ location.city }}{% endif %} {% if location.state %}{{ location.state }}{% endif %}
				</div>
				<label for="h3-test" class="small-border"></label for="h3-test">
				<h3 id="h3-test">Average Scores:</h3>
				<div class="row">
					<label class="col-md-3 col-xs-12">Vision:</label>
					<div class="col-md-9 col-xs-12 rateit" data-rateit-value="{{avg_vision}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
				</div>
				<div class="row">
					<label class="col-md-3 col-xs-12">Mobility:</label>
					<div class="col-md-9 col-xs-12 rateit" data-rateit-value="{{avg_mobility}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
				</div>
				<div class="row">
					<label class="col-md-3 col-xs-12">Speech:</label>
					<div class="col-md-9 col-xs-12 rateit" data-rateit-value="{{avg_speech}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
				</div>
				<div class="row">
					<label class="col-md-3 col-xs-12">Helpful:</label>
					<div class="col-md-9 col-xs-12 rateit" data-rateit-value="{{avg_helpfulness}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
				</div>
			</div>
			<label for="location_assoc_tags-{{location.key.urlsafe}}" class="small-border"></label>	
			<div class="location_assoc_tags" id="location_assoc_tags-{{location.key.urlsafe}}">							
				{% for tag in location.tags %}
				{% if tag.votes_pos != tag.votes_neg %}
				<span class="tag-static well">
					<span class="tag-text-static">{{tag.type}}</span>
					<span class="tag-buttons-static">
						{% if tag.votes_pos > 0 and tag.votes_pos > tag.votes_neg %} 
						<a class="tag-btn-static glyphicon glyphicon-chevron-up tag-pos-selected"></a>
						{% endif %}
						{% if tag.votes_neg > 0 and tag.votes_neg > tag.votes_pos %} 
						<a class="tag-btn-static glyphicon glyphicon-chevron-down tag-neg-selected"></a>
						{% endif %}
					</span>
				</span>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<!-- MAP INSERT HERE -->
		<div class="col-md-4 col-xs-12 well">
			<div id="map-canvas"></div>
		</div>
	</div>
	<!-- End Location Info Section -->
	
	<!-- Begin Review Section -->
	{% if not user_posts %}
		{% if not login_needed %}
	<button class="btn-lg btn-primary" type="button" data-toggle="collapse" data-target="#add-location-fix" aria-expanded="false" aria-controls="add-location-fix">Add Review</button>
	<div class="review well collapse" style="margin-top:2em;" id="add-location-fix">
		<div class="row">
			<form role="form" name="reviewform" action="/submit/rev_handler" class="reviewform" method="POST">
				<div class="col-md-3"> 
					<div class="well">
						<div class="form-group ratings">       
							<div class="row form-inline">
								<label class="col-md-3 col-xs-12" for="vision_input">Vision:</label>
								<input type="range" min="0" max="5" value="0" step="1" name="Vision" id="vision_input">
								<div class="col-md-9 col-xs-12 rateit" data-rateit-backingfld="#vision_input"></div>
							</div>
							<div class="row form-inline">
								<label class="col-md-3 col-xs-12" for="mobility_input">Mobility</label>
								<input type="range" min="0" max="5" value="0" step="1" name="Mobility" id="mobility_input">
								<div class="col-md-9 col-xs-12 rateit" data-rateit-backingfld="#mobility_input"></div>	
							</div>
							<div class="row form-inline">
								<label class="col-md-3 col-xs-12" for="speech_input">Speech</label>
								<input type="range" min="0" max="5" value="0" step="1" name="Speech" id="speech_input">
								<div class="col-md-9 col-xs-12 rateit" data-rateit-backingfld="#speech_input"></div>
							</div>
							<div class="row form-inline">
								<label class="col-md-3 col-xs-12" for="helpfulness_input">Helpful</label>
								<input type="range" min="0" max="5" value="0" step="1" name="Helpfulness" id="helpfulness_input">
								<div class="col-md-9 col-xs-12 rateit" data-rateit-backingfld="#helpfulness_input"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">   
					<div class="form-group">
						<label for="review_text">Your Review</label>
						<textarea name="Text" id="review_text" cols="30	" rows="8" class="form-control"></textarea>
						<!-- WORKINGIN ON TAGGING HERE -->
						<label for="review_text" class="small-border"></label for="review_text">
						<div class="review_tags" id="current_post_tags">
						</div>
					</div>  
					<div class="form-group">
						<input type="hidden" value="{{loc_id}}" id="loc_id" name="URL" />
						<input type="submit" class="btn btn-default pull-right" value="Submit">
					</div>
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
	</div>
		{% endif %}
	{% else %}
	<!-- EDITING SECTION -->
	<h2>Your review</h2>
	{% for review in user_posts %}
	<div class="panel panel-default review" id="{{review.key.id}}">
		<div class="panel-heading" style="background-color:#e1e1e1;" >
			<span class="pull-right">{{review.time_created.month}}/{{review.time_created.day}}/{{review.time_created.year}}</span>
			<div class="clearfix"></div>
		</div>
			<div class="row">
				<form role="form" name="review_form" action="/edit" class="review_form" method="POST">
					<div class="panel-body panel-mola">
						<div class="col-md-3">   
							<div class="well">
								<div class="form-group ratings">       
									<div class="row form-inline">
										<label class="col-md-3 col-xs-12" for="vision_input">Vision:</label>
										<input type="range" min="0" max="5" value="{{review.vision_rating}}" step="1" name="Vision" id="vision_input">
										<div class="col-md-9 col-xs-12 rateit set-review" data-rateit-backingfld="#vision_input"></div>
									</div>
									<div class="row form-inline">
										<label class="col-md-3 col-xs-12" for="mobility_input">Mobility:</label>
										<input type="range" min="0" max="5" value="{{review.mobility_rating}}" step="1" name="Mobility" id="mobility_input">
										<div class="col-md-9 col-xs-12 rateit set-review" data-rateit-backingfld="#mobility_input"></div> 
									</div>
									<div class="row form-inline">
										<label class="col-md-3 col-xs-12" for="speech_input">Speech:</label>
										<input type="range" min="0" max="5" value="{{review.speech_rating}}" step="1" name="Speech" id="speech_input">
										<div class="col-md-9 col-xs-12 rateit set-review" data-rateit-backingfld="#speech_input"></div>
									</div>
									<div class="row form-inline">
										<label class="col-md-3 col-xs-12" for="helpfulness_input">Helpful:</label>
										<input type="range" min="0" max="5" value="{{review.helpfulness_rating}}" step="1" name="Helpfulness" id="helpfulness_input">
										<div class="col-md-9 col-xs-12 rateit set-review" data-rateit-backingfld="#helpfulness_input"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9">   
							<div class="form-group">
								<label for="review_text">Your Review</label>
								<textarea name="Text" id="review_text" cols="50 " rows="8" class="review-text form-control">{{review.text}}</textarea>
							</div>

		<!-- EDITING TAGS Kinda Hard -->
							<label for="reviews_assoc_tags-{{review.key.urlsafe}}" class="small-border"></label>	
							<div class="reviews_assoc_tags" id="current_post_tags">							
								{% for tag in review.tags %}
								<span class="tag well">
									<span class="tag-text">{{tag.type}}</span>

									<span class="tag-buttons">																		
										{% if tag.votes_pos > 0 and tag.votes_pos > tag.votes_neg %} 
										<a class="tag-btn glyphicon glyphicon-chevron-up tag-pos-selected"></a>
										{% endif %}
										{% if tag.votes_neg > 0 and tag.votes_neg > tag.votes_pos %} 
										<a class="tag-btn glyphicon glyphicon-chevron-down tag-neg-selected"></a>
										{% endif %}
									</span>
								</span>
								{% endfor %}
							</div>  

							<div>
								<input type="hidden" value="{{loc_id}}" id="loc_id" name="URL" />
								<input type="hidden" name="post_id" value="{{review.key.id}}">
								<input type="submit" class="pull-right hidden-button btn btn-default" value="Submit" >
							</div>
						</div>
					</div>
				</form>
			</div>
		<div class="panel-footer clearfix">
			<div class="pull-right button-group">
				<form action="/history/delete/" id="{{review.key.id}}" method="post">
					<input type="hidden" name="post_id" value="{{review.key.id}}">
					<input type="button" value="Edit" onclick="make_editable({{review.key.id}})" class="btn btn-default" />
					<button class="btn btn-default" onclick="document.getElementById('{{review.key.id}}').submit();">Delete</button>
				</form>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<!-- END OF EDITING SECTION -->
	<!-- START add_review.html copypast	a, with added script -->
	
	<!-- END add_review.html copypasta -->
	<h2>Recent Reviews:</h2>
	<div id="loc-page-reviews">
		{% for review in reviews %}
		<div class="panel panel-default review">
			<div class="panel-heading" style="background-color:#e1e1e1;" >
				<span class="pull-left" style="float:left;">{{review.user}}</span>
				<span class="pull-right">{{review.time_created.month}}/{{review.time_created.day}}/{{review.time_created.year}}</span>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body panel-mola">
				<div class="row">
					<div class="col-md-3">
						<div class="well">
							<div class="row">
								<label class="col-md-4 col-xs-12">Vision:</label>
								<div class="col-md-8 col-xs-12 rateit" data-rateit-value="{{review.vision_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
							</div>
							<div class="row">
								<label class="col-md-4 col-xs-12">Mobility:</label>
								<div class="col-md-8 col-xs-12 rateit" data-rateit-value="{{review.mobility_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
							</div>
							<div class="row">
								<label class="col-md-4 col-xs-12">Speech:</label>
								<div class="col-md-8 col-xs-12 rateit" data-rateit-value="{{review.speech_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
							</div>
							<div class="row">
								<label class="col-md-4 col-xs-12">Helpful:</label>
								<div class="col-md-8 col-xs-12 rateit" data-rateit-value="{{review.helpfulness_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
							</div>
						</div>
					</div> 
					<div class="col-md-9 text-review">
						<p>
							{{review.text}}
						</p>
						<label for="reviews_assoc_tags-{{review.key.urlsafe}}" class="small-border"></label>	
						<div class="reviews_assoc_tags" id="reviews_assoc_tags-{{review.key.urlsafe}}">							
							{% for tag in review.tags %}
							<span class="tag-static well">
								<span class="tag-text-static">{{tag.type}}</span>
								<span class="tag-buttons-static">
								{% if tag.votes_pos > 0 and tag.votes_pos > tag.votes_neg %} 
								<a class="tag-btn-static glyphicon glyphicon-chevron-up tag-pos-selected"></a>
								{% endif %}
								{% if tag.votes_neg > 0 and tag.votes_neg > tag.votes_pos %} 
								<a class="tag-btn-static glyphicon glyphicon-chevron-down tag-neg-selected"></a>
								{% endif %}
								</span>
							</span>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<a href="" class="more_reviews">Show More</a><br/>

	<script>
		var reviewsDBPage = "{{ reviewsCursor }}";
		var reviewsDBFlag = "{{ reviewsDBFlag }}" == "True" ? true : false;
		var latitude = "{{ location.latitude }}"
		var longitude = "{{ location.longitude }}"
	</script>
{% endblock content %}