{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="reviews col-md-9">
            <h2>Recent Reviews</h2>
            <div class="col-md-3 col-md-height">
                <p class="review">Review 1</p>
            </div>
            <div class="col-md-3 col-md-height">
                <p class="review">Review 2</p>
            </div>
            <div class="col-md-3 col-md-height">Holy shit guys what is happening oh  wow i am reviewing a place look at me I'm special.</p>
            </div>
        </div>
        <div class="sidebar col-md-3">
            <div id="submit review">
                <button>Submit</button>
            </div>
            <div id="Statement">
                <p>
                    This site is really cool it's really neat I love it look at all the neat stuff on our site wow this is amazing.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}