{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="posts col-md-9 main-bar">
        <script>
            var reviewsDBPage = "{{reviewsCursor}}";
            var reviewsDBFlag = "{{reviewsDBFlag}}" == "True" ? true : false;
        </script>
            <h1 class="title">Recent Reviews</h1>
            
            <div class="col-md-12" id="front-page-reviews">
                {% for review in reviews %}
                <div class="panel panel-default front-page-post">
                    <div class="panel-heading" style="background-color:#e1e1e1">
                        <span class="user-name">{{review.user}}</span>
                        <span class="page-link"><a href="/location/{{review.loc_id}}">{{ review.loc_name }}</a></span>
                    </div>
                    <div class="panel-body " style="margin-top:-0px; background-color:#f4f4f4;">
                            <div class="col-md-4 well">
                                <div>
                                    <label>Vision:</label>
                                    <div class="rateit" data-rateit-value="{{review.vision_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                    <!-- <img class="user-reviews" src = "/static/images/{{review.vision_rating}}_star.gif" tile="{{review.vision_rating}} Star Rating" alt="{{review.vision_rating}} Stars" /> -->
                                </div>
                                <div>
                                    <label>Mobility:</label>
                                    <div class="rateit" data-rateit-value="{{review.mobility_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                    <!-- <img class="user-reviews" src = "/static/images/{{review.mobility_rating}}_star.gif" tile="{{review.mobility_rating}} Star Rating" alt="{{review.mobility_rating}} Stars" /> -->
                                </div>
                                <div>
                                    <label>Speech:</label>
                                    <div class="rateit" data-rateit-value="{{review.speech_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                    <!-- <img class="user-reviews" src = "/static/images/{{review.speech_rating}}_star.gif" tile="{{review.speech_rating}} Star Rating" alt="{{review.speech_rating}} Stars" /> -->
                                </div>
                                <div>
                                    <label>Helpfulness:</label>
                                    <div class="rateit" data-rateit-value="{{review.helpfulness_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                    <!-- <img class="user-reviews" src = "/static/images/{{review.helpfulness_rating}}_star.gif" tile="{{review.helpfulness_rating}} Star Rating" alt="{{review.helpfulness_rating}} Stars" /> -->
                                </div>
                            </div> 
                            <div class="col-md-8 text-review">
                                <p>
                                    {{review.text}}
                                </p>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a href="" class="more_front_reviews">Show More</a><br/>
        </div>
        <div class="sidebar col-md-3">
            <!-- <div id="submit_review">
                <a class="btn btn-primary" href="/submit/location">Add a Location</a>
            </div> -->
            <div id="Statement" class="panel panel-default" style="margin-top: 1.5em;">
                <div class="panel-heading" style="padding-bottom:0.75em;"><h2 class="panel-title">Who We Are</h2></div>
                <div class="panel-body" style="padding-top:0.25em;">
                    <p>
                        We're a group of individuals who wanted to put together a simple online service: help persons with disabilities to find out if a location provides accommodations catering to their needs. Our approach is simple and versatile, allowing users to indicate exactly what the location has and doesn't have. We hope this will serve as a convenient tool, and encourages businesses to provide their services equally to those disabled and nondisabled.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}