{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="reviews col-md-9">
            <h2>Recent Reviews</h2>
            <div class="col-md-3">
                <p class="review">Review 1</p>
            </div>
            <div class="col-md-3">
                <p class="review">Review 2</p>
            </div>
            <div class="col-md-3">
                <p class="review">Review 3</p>
            </div>
        </div>
        <div class="sidebar col-md-3">
            <div id="submit review">
                <button>Submit</button>
            </div>
            <div id="Statement">
                <p>
                    Mission Statement   
                </p>
            </div>
        </div>
    </div>
{% endblock content %}