{% for review in reviews %}
	<div class="panel panel-default front-page-post">
        <div class="panel-heading" style="background-color:#e1e1e1;" >
            <span class="pull-left">{{review.user}}</span>
            <span class="pull-right"><a href="/location/{{review.loc_id}}">{{ review.loc_name }}</a></span>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body mola-panel">
			<div class="col-md-4 well">
                <div>
                    <label>Vision:</label>
                    <div class="rateit" data-rateit-value="{{review.vision_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <!-- <img class="user-reviews" src = "/static/images/{{review.vision_rating}}_star.gif" tile="{{review.vision_rating}} Star Rating" alt="{{review.vision_rating}} Stars" /> -->
                </div>
                <div>
                    <label>Mobility:</label>
                    <div class="rateit" data-rateit-value="{{review.mobility_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <!-- <img class="user-reviews" src = "/static/images/{{review.mobility_rating}}_star.gif" tile="{{review.mobility_rating}} Star Rating" alt="{{review.mobility_rating}} Stars" /> -->
                </div>
                <div>
                    <label>Speech:</label>
                    <div class="rateit" data-rateit-value="{{review.speech_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <!-- <img class="user-reviews" src = "/static/images/{{review.speech_rating}}_star.gif" tile="{{review.speech_rating}} Star Rating" alt="{{review.speech_rating}} Stars" /> -->
                </div>
                <div>
                    <label>Helpfulness:</label>
                    <div class="rateit" data-rateit-value="{{review.helpfulness_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <!-- <img class="user-reviews" src = "/static/images/{{review.helpfulness_rating}}_star.gif" tile="{{review.helpfulness_rating}} Star Rating" alt="{{review.helpfulness_rating}} Stars" /> -->
                </div>
			</div> 
			<div class="col-md-8 text-review">
				<p>
					{{review.text}}
				</p>
                <label for="reviews_assoc_tags-{{review.key.urlsafe}}" class="small-border"></label> 
                <div class="reviews_assoc_tags" id="reviews_assoc_tags-{{review.key.urlsafe}}">
                    
                    {% for tag in review.tags %}
                    <span class="tag-static well">
                        <span class="tag-text-static">{{tag.type}}</span>
                        <span class="tag-buttons-static">
							{% if tag.votes_pos > 0 %}
                            <a class="tag-btn-static glyphicon glyphicon-chevron-up tag-pos-selected"></a>
							{% endif %}
							{% if tag.votes_neg > 0 %}
                            <a class="tag-btn-static glyphicon glyphicon-chevron-down tag-neg-selected"></a>
							{% endif %}
                        </span>
                    </span>
                    {% endfor %}
			</div>
        </div>
	</div>
{% endfor %}