{% for review in reviews %}
	<div class="panel panel-default front-page-post">
        <div class="panel-heading" style="background-color:#e1e1e1;" >
            <span class="pull-left">{{review.user}}</span>
            <span class="pull-right"><a href="/location/{{review.loc_id}}">{{ review.loc_name }}</a></span>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body mola-panel">
            <div class="row">
    			<div class="col-md-4">
                    <div class="well">
                        <div class="row">
                            <label class="col-md-3 col-xs-12">Vision:</label>
                            <div class="cold-md-9 col-xs-12 rateit" data-rateit-value="{{review.vision_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-xs-12">Mobility:</label>
                            <div class="cold-md-9 col-xs-12 rateit" data-rateit-value="{{review.mobility_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-xs-12">Speech:</label>
                            <div class="cold-md-9 col-xs-12 rateit" data-rateit-value="{{review.speech_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-xs-12">Helpfulness:</label>
                            <div class="cold-md-9 col-xs-12 rateit" data-rateit-value="{{review.helpfulness_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                    </div>
    			</div> 
    			<div class="col-md-8 text-review">
    				<p>
    					{{review.text}}
    				</p>
                    <label for="reviews_assoc_tags-{{review.key.urlsafe}}" class="small-border"></label> 
                    <div class="reviews_assoc_tags" id="reviews_assoc_tags-{{review.key.urlsafe}}">
                        
                        {% for tag in review.tags %}
                        <span class="tag-static well">
                            <span class="tag-text-static">{{tag.type}}</span>
                            <span class="tag-buttons-static">
                                {% if tag.votes_pos > 0 and tag.votes_pos > tag.votes_neg %} 
                                <a class="tag-btn-static glyphicon glyphicon-chevron-up tag-pos-selected"></a>
                                {% endif %}
                                {% if tag.votes_neg > 0 and tag.votes_neg > tag.votes_pos %} 
                                <a class="tag-btn-static glyphicon glyphicon-chevron-down tag-neg-selected"></a>
                                {% endif %}                            
                            </span>
                        </span>
                        {% endfor %}
                    </div>
    			</div>
            </div>
        </div>
	</div>
{% endfor %}