{% for review in reviews %}
	<div class="panel panel-default review">
        <div class="panel-heading" style="background-color:#e1e1e1;" >
            <span class="pull-left">{{ review.user }}</span>
            <span class="pull-right">{{review.time_created.month}}/{{review.time_created.day}}/{{review.time_created.year}}</span>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body mola-panel">
			<div class="col-md-3 well">
                <div>
                    <label>Vision:</label>
                    <div class="rateit" data-rateit-value="{{review.vision_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <!-- <img class="user-reviews" src = "/static/images/{{review.vision_rating}}_star.gif" tile="{{review.vision_rating}} Star Rating" alt="{{review.vision_rating}} Stars" /> -->
                </div>
                <div>
                    <label>Mobility:</label>
                    <div class="rateit" data-rateit-value="{{review.mobility_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <!-- <img class="user-reviews" src = "/static/images/{{review.mobility_rating}}_star.gif" tile="{{review.mobility_rating}} Star Rating" alt="{{review.mobility_rating}} Stars" /> -->
                </div>
                <div>
                    <label>Speech:</label>
                    <div class="rateit" data-rateit-value="{{review.speech_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <!-- <img class="user-reviews" src = "/static/images/{{review.speech_rating}}_star.gif" tile="{{review.speech_rating}} Star Rating" alt="{{review.speech_rating}} Stars" /> -->
                </div>
                <div>
                    <label>Helpfulness:</label>
                    <div class="rateit" data-rateit-value="{{review.helpfulness_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <!-- <img class="user-reviews" src = "/static/images/{{review.helpfulness_rating}}_star.gif" tile="{{review.helpfulness_rating}} Star Rating" alt="{{review.helpfulness_rating}} Stars" /> -->
                </div>
			</div> 
			<div class="col-md-9 text-review">
				<p>
					{{review.text}}
				</p>
			</div>
        </div>
	</div>
{% endfor %}
