index.html css*/
body {
  padding-top: 50px;
}

body .col-md-3,.col-md-9,.row{
	/*Just for developing*/
	border: solid 1px;
}


.main {
  padding: 40px 15px;
  text-align: center;
}
.nav-mola{
	padding-top: 10px;
	padding-right: 10px;
}
.reviews>h2{
	text-align: left
}
.review{
	/*border: solid 1px;*/
	border-color: #000;
}

.sidebar{
	padding-top: 20px;
}

.sidebar p{
	padding-top: 15px;
}
/*
.mola-nav {
	background-image: linear-gradient(to bottom,#2ECC71 0,#00b16a 100%);
	background-color: #2ECC71;

}